[submodule ".registry"]
	path = .registry
	url = https://github.com/cogdisreslab/cogdisreslab.r-universe.dev
	branch = HEAD
[submodule "BioPathNet"]
	path = BioPathNet
	url = https://github.com/CogDisResLab/BioPathNet
[submodule "KINNET"]
	path = KINNET
	url = https://github.com/CogDisResLab/KINNET
[submodule "KRSA"]
	path = KRSA
	url = https://github.com/CogDisResLab/KRSA
[submodule "KinaseTauScore"]
	path = KinaseTauScore
	url = https://github.com/CogDisResLab/KinaseTauScore
[submodule "PAVER"]
	path = PAVER
	url = https://github.com/CogDisResLab/PAVER
[submodule "PCSF"]
	path = PCSF
	url = https://github.com/CogDisResLab/PCSF
[submodule "creedenzymatic"]
	path = creedenzymatic
	url = https://github.com/CogDisResLab/creedenzymatic
[submodule "drugfindR"]
	path = drugfindR
	url = https://github.com/CogDisResLab/drugfindR
[submodule "enrichR"]
	path = enrichR
	url = https://github.com/CogDisResLab/enrichR
[submodule "kinograte"]
	path = kinograte
	url = https://github.com/CogDisResLab/kinograte
